fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.6.0
# Pin para evitar problemas TLS/compatibilidad en Python 3.13 con Mongo Atlas
motor==3.3.2
pymongo==4.6.3
dnspython>=2.6.1
certifi>=2023.7.22
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
# Pin bcrypt para evitar incompatibilidad con passlib 1.7.4
bcrypt<4.2.0,>=4.0.0
python-multipart>=0.0.9
python-dotenv>=1.0.0
